<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<button onclick="func1()">ajax提交get</button>
<button onclick="func2()">ajax提交post</button>
<button onclick="func3()">ajax提交</button>
<body>
<script src="/static/jquery-1.12.4.js"></script>
<script>
    function func3() {
        Test3()

    }

    {#  $.ajaxSetup({#}
    {#    data: {#}
    {#        csrfmiddlewaretoken: '{{ csrf_token }}'#}
    {#    }})#}

    function Test3() {
        $.ajax({
                url:{% url "post" %},
                type: "POST",
                {#            data:{a:1,b:[3,4]},#}
                data: {
                    name: 'alex',
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
{#                            processData:false,#}
                {#            contentType: 'text'#}
                {#            traditional:true,#}
                dataType: 'json',
                {#            传递成功执行#}
                success: function (data) {
                    console.log(data);
                    console.log(typeof data);
{#                    date2 = JSON.parse(data);#}
                    console.log(data['name'])
{#                    console.log(typeof date2);#}
                },
                {#            失败执行#}
                error: function (data) {
                    console.log(data)
                },
                {#            成功或者失败都执行#}
                complete: function (data) {
                    console.log(arguments)
                },
                statusCode: {
                    {#            HttpResponse.status_code='400'#}
                    '400': function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    }
                }
            }
        )
    }
</script>
</body>
</html>