<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="f()">submit</button>
<script src="/static/jquery-1.12.4.js"></script>
<script>
    function addScriptTag(src){
     var script = document.createElement('script');
         script.setAttribute("type","text/javascript");
         script.src = src;
         document.body.appendChild(script);
         document.body.removeChild(script);
    }
    function SayHi(arg){
        alert("Hello "+arg)
    }

    function f(){
{#         addScriptTag("http://127.0.0.1:8002/post/?callbacks=SayHi")#}
{#            $.getJSON("http://127.0.0.1:8002/post/callbacks=?",function(arg){#}
{#        console.log("hello"+arg)#}
{#        #}
{#    });#}
             $.ajax({
        url:"http://127.0.0.1:8002/post",
        dataType:"jsonp",
        jsonp: 'callbacks',
        jsonpCallback:"SayHi"
   });
    function SayHi(arg){
        alert(arg);}
    }
</script>
</body>
</html>