{% extends "base.html" %}

{% block cs  %}
{% endblock %}

{% block table_inline %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>选择操作</th>
                        <th>学生姓名</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th>电话</th>
                        <th>班级</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for foo in allstudents %}
                        <tr>
                            <td><button>{{ foo.id }}</button></td>
                            <td>{{ foo.name }}</td>
                            <td>{{ foo.age }}</td>
                            <td>{{ foo.get_sex_display }}</td>
                            <td>{{ foo.phone }}</td>
                            <td>{{ foo.allclass }}</td>
                            <td>
                                <button class="btn  btn-lg" data-toggle="modal" data-target="#myModal">
                                <a  style="cursor: pointer;" select="add" name="{{ foo.id }}">增加</a>|
                                <a style="cursor: pointer;" select="change" name="{{ foo.id }}">修改</a>
                                    </button>
                                <a style="cursor: pointer;" select="del" name="{{ foo.id }}">删除</a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
				<h4 class="modal-title" id="myModalLabel">
					添加修改
				</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th>电话</th>
                        <th>班级</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" name="name"></td>
                        <td><input type="text"  name="age"></td>
                        <td><input type="text"  name="age"></td>
                        <td><input type="text"  name="age"></td>
                        <td><input type="text"  name="age"></td>
                        <td>
                            <select>
                            <option>男</option>
                            <option>女</option>
                            <option selected="selected">未知生物</option>
                        </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
						data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$(function () { $('#myModal').modal({
	keyboard: true
})});
</script>

{% endblock %}

{% block js %}
    <script>
    $("[select=del]").click(function () {
        var t_id=$(this).attr("name")
        $.ajax({
             url:{% url "teacher" %},
            type:"POST",
            data:{t_id:t_id}
        })
         window.location.reload();
    })
       $(".btn.btn-primary").click(function () {
           var name = $(".modal-body .table.table-striped tr td input:eq(0)").val()
           var age = $(".modal-body .table.table-striped tr td input:eq(1)").val()
           var sex =$(".modal-body .table.table-striped tr td select").children('option:selected').val();

        $.ajax({
             url:{% url "teacher" %},
            type:"POST",
            data:{
                 name:name,
                 age:age,
                 sex:sex,
            }
        })
           window.location.reload();
    })
    </script>
{% endblock %}