{% extends "base.html" %}
{% block table_inline %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>选择操作</th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for foo in change %}
                        <tr>
                            <td pind ="id">{{ foo.id }}</td>
                            <td><input type="text" pind ="name" value="{{ foo.Teacher_name }}"></td>
                            <td><input type="text" pind ="age" value="{{ foo.age }}"></td>
                            <td><input type="text" pind ="sex" value="{{ foo.get_sex_display }}"></td>
                            <td>
                                <a style="cursor: pointer;" select="del" name="{{ foo.id }}" type="submit">提交</a>
                                <span message="message"></span>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
{% endblock %}
{% block js %}
<script>
$("[select='del']").click(function () {
    var id =$("[pind='id']")[0].innerText
    var name=$("input[pind='name']").val()
    var age=$("input[pind='age']").val()
    var sex=$("input[pind='sex']").val()
     $.ajax({
         url:{% url "teacher" %},
            type:"POST",
            data:{
                nid:id,
                name:name,
                age:age,
                sex:sex,
            },
            dataType:'json',
            success:function (date) {
                console.log(date)
            }
        })
{#         window.location.reload();#}
})
</script>
{% endblock %}